# --- PlatformIO (Carpeta firmware) ---
firmware/.pio/
firmware/.gcc-flags.json
firmware/.vscode/

# --- LaTeX (Documentación) ---
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out

# --- Otros ---
.DS_Store